#marie-antoinette {
    animation-duration: 5s;
}

body {
    background-image: url(../images/marie-antoinette.jpg);
    background-color: #2BCDFF;
    color: #Ffffff;
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.jumbotron {
    background-image: url(../images/background.jpg);
}

.card {
    background-image: url(../images/background.jpg);
}

.card-body {
    color: white;
}